<?xml version="1.0" encoding="utf-8" ?>

<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="connection.driver.class">org.hibernate.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">kaibaman178</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
        <mapping class="dev.example.entity.User"/>
        <mapping class="dev.example.entity.Company"/>
        <mapping class="dev.example.entity.Profile"/>
        <mapping class="dev.example.entity.Chat"/>
        <mapping class="dev.example.entity.UserChat"/>

    </session-factory>
</hibernate-configuration>